/* stylelint-disable color-hex-length */
/**
 * Default preset file.
 *
 * Use this space to customise variables, create mixins and override SCSS.
 */


/****************************
 * My variables
 ***************************/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ecf0f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b4bcc2 !default;
$gray-600: #95a5a6 !default;
$gray-700: #7b8a8b !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2C3E50 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #E74C3C !default;
$orange:  #fd7e14 !default;
$yellow:  #F39C12 !default;
$green:   #18BC9C !default;
$teal:    #20c997 !default;
$cyan:    #3498DB !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-700 !default;
/****************************/


// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             $primary; // changed
$brand-info:                $info; // changed
$brand-success:             $success; // changed
$brand-warning:             $warning; // changed
$brand-danger:              $danger; // changed

$brand-inverse:             $gray-dark !default;
$navbar-height:             50px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Body
$body-bg:    $gray-100; //changed
$body-color: $gray-900; //changed
// Typography
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$font-size-root: 14px !default;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                lighten($brand-primary, 55%) !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #f4f4f4 !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            $body-color;

// Navbar
$navbar-light-color:                $brand-primary; // changed
$navbar-light-hover-color:          $brand-success; // changed
$navbar-light-active-color:         $brand-success; // changed

// Cards
$card-border-radius:       0 !default;
$card-border-color:        rgba(238, 238, 238, 1) !default;

// Breadcrumbs
$breadcrumb-bg:                 transparent !default;
$breadcrumb-padding-x:          0 !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Import everything.
@import "moodle";

/**
 * Navigation bar identity.
 */
.navbar-light {
    background-color: $navbar-light-color; // changed
    border-bottom: $border-width solid $navbar-light-color; // changed

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: $spacer * 2;
        color: #fff;
        background-color: $brand-success; // changed
        @include hover-focus {
            color: #fff;
        }
        &.has-logo {
            color: $brand-primary;
            background-color: transparent;
            @include hover-focus {
                color: $brand-primary;
            }
            padding-top: 0;
        }
    }

    .navbar-nav {
        .nav-item + .nav-item {
            margin-left: $spacer * 2;
        }
        .nav-link {
            color: $white; // Added
            font-size: $font-size-sm;
            text-transform: uppercase;
            letter-spacing: 1px;
            // Added:
            @include hover-focus {
                color: $brand-success;
            }
        }
    }
}

/**
 * Styling the dropdown menus.
 */
.dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    .dropdown-item {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: $border-width solid $dropdown-border-color;
        &:last-child {
            border-bottom: 0;
        }
    }
    .dropdown-divider {
        display: none;
    }
}

/**
 * User picture.
 */
.userpicture {
    border-radius: 50%;
}

/**
 * For background in content areas.
 */
#page.container-fluid {
    padding: 0 (2 * $spacer);
}

#block-region-side-pre {
    padding-left: 0;
}

/**
 * Dashboard styling.
 */
#page-my-index {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
}

/**
 * Blocks.
 */
.block-region .card-block {
    .card-title {
        padding-bottom: ($spacer/2);
        font-size: 1.143rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

/**
 * Navigation.
 */
.block_navigation,
.block_settings {
    .block_tree .tree_item {
        margin: ($spacer/2) 0;
    }
}

/**
 * Form styles.
 */

.form-group {
    margin-top: ($spacer/2);
}

.form-inline .form-group {
    margin-top: 0;
}

// Added selectors:

#nav-drawer {
    background-color: $brand-primary;
}

#page-footer {
    color: $body-color !important;
    background-color: darken($body-bg, 5%) !important;
    
    a {
        color: $body-color;
        @include hover-focus {
            color: $body-color;
        }
    }
}

// Added:
.usermenu .dropdown-toggle {
    color: $white;
    @include hover-focus {
        color: $brand-success;
    }
}

.courses {
    padding-top: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;

    .coursebox {
        padding: 0;
        margin: 0;
        height: 6rem;
        border: $border-width solid $card-border-color;

        &:hover {
            background-color: $body-bg;
        }

        & > .info {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            & > .coursename {
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;

                & > a {
                    background-image: none;
                    padding: 0;
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }
            }
        }
    }
}
